langchain
langchain-core

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

python-dotenv

numpy
scikit-learn

torch
transformers
sentence-transformers

streamlit

pydantic
pydantic[email]

langchain-groq
langchain-classic